
/* src/components/sidebar/MenuItem.css */

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.menu-item:hover {
    background-color: #007bff;
    }

.menu-item__icon {
  margin-right: 8px;
  /* Ajoutez ici des styles supplémentaires pour l'icône si nécessaire */
}


